

    <div class="row">
      <div class="col-sm-7">
        <%= render "contact_panel.html.erb" %>
      </div>
      <div class="col-sm-5">
      <%= render "move_panel.html.erb" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= render "global_contact_panel.html.erb" %>
      </div>
    </div>

